/*UNIVERSAL SELECTOR*/

* {
	box-sizing: border-box;
}


/************************************
GENERAL
************************************/

body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.main-header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(red, transparent 90%), linear-gradient(0deg, #fff, transparent), red url('../img/car.jpg');
	height: 850px;
	padding-top: 170px;
	/*background-image: url('../img/mountains.jpg');*/
	/*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
	/*background-image: linear-gradient(#ffa949, firebrick);*/
}

.main-header,
.title {
	text-align: center;
}

.title {
	/*To change font-size from px to em. Do this simple equation.
	Whatever the desired pixel is / 16.
	26px/16px = 
	*/
	font-size: 1.625em;
	color: white;
	letter-spacing: .065em;
	font-weight: 200;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}

.primary-content {
	text-align: center;
	padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6;
}

.primary-content,
.secondary-content {
	width: 75%;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 900px;
}

.t-border {
	border-top: 2px solid lightgrey;
}


/*ul li {
	margin-bottom: 5px;
}*/

ul,
ol {
	margin-left: 30px;
}

li {
	margin-bottom: 10px;
}

.arrow {
	width: 50px;
	margin-top: 150px;
}

img {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.wildlife {
	padding-top: 100px;
	padding-right: 120px;
	padding-bottom: 100px;
	padding-left: 120px;
	padding: 18% 24%;
	/*two values first is for top and bottom. 2nd is for left and right.*/
	/*  border-width: 10px 20px;
	border-style: solid;
	border-color: #ffa949;*/
	border-top: 10px solid #ffa949;
	/*When 3 values. First one is the top. Second one is left and right. Third one is bottom.*/
	margin: 105px 0 60px;
	background-image: url('../img/bear.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*Box Shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spread-radius.*/
	box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
	border-radius: 10px;
}

.callout {
	font-size: 1.25em;
	border-bottom: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;
	display: inline-block;
}

#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}

p {
	font-size: 20px;
}


/************************************
HEADLINE ELEMENTS & P ELEMENT
************************************/

h1 {
	/*90px/60px*/
	font-size: 5.625em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	/*Text Shawdows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is color of the 
	shadows.*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	margin: 12px 0 0;
}

h2 {
	font-size: 53px;
	text-decoration: underline;
	font-weight: normal;
	/*26px/53px*/
	margin-bottom: .5em;
}

h3 {
	font-size: 20px;
	/*34px/20px*/
	margin-bottom: 1.7em;
}

p {}


/************************************
FLOATED COLUMNS
************************************/

.resorts,
.tips {
	width: 46.5%;
}

.resorts {
	float: left;
}

.tips {
	float: right;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}


/************************************
COLORS
************************************/

body {
	color: #878787;
}

.title {
	color: white;
}

.main-header {
	background-color: #ffa949;
}

.wildlife {
	color: white;
	background-color: #434a52;
}

ul li {
	color: white;
}

h1 {
	color: white;
}

h3 {
	color: #4852cf;
}


/*CSS PSEUDO CLASS*/

a:link {
	color: #ffa949;
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: coral;
}

a:focus {
	color: white;
	background-color: orange;
}


/************************************
MEDIA QUERIES
************************************/

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}
	.wildlife {
		padding: 10% 12%;
		margin: 50px 0 20px;
	}
}

@media (max-width: 768px) {
	.primary-content,
	secondary-content {
		width: 100%;
		padding: 20px;
		padding-top: none;
	}
	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
	}
	.title {
		font-size: 1.3rem;
		border: none;
	}
	h1 {
		font-size: 5rem;
		line-height: 1.1;
	}
	.arrow {
		display: none;
	}
	.intro {
		font-size: 1rem;
	}
	.resort,
	.tips {
		float: none;
		width: 100%;
	}
	.main-footer {
		padding: 20px 0;
	}
}

@media (max-width: 375px) {
	h1 {
		font-size: 3rem;
	}
}